* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    padding-top: 30px;
}

body {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-flow: column nowrap;
    align-items: center;
}