* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    padding-top: 30px;
}

body {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-flow: column nowrap;
    align-items: center;
}

.choices {
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-top: 40px;
}

.choice img {
    width: 80px;
    height: 80px;
}

.choice {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    border: 5px solid black;
    border-radius: 12px;
    padding: 5px;
    font-family: 'Play', sans-serif;
    transition: all 0.3s ease;
}

.choice:hover {
    box-shadow: 7px 7px 10px black;
    transform: translate(-10px, -10px);
}

.display-outcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Play', sans-serif;
}

.display-results {
    border: solid black;
    text-align: center;
    width: 200px;
    height: 100px;    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Play', sans-serif;
}

.badge {
    background-color: black;
    position: absolute;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
}

#user-label {
    top: 30px;
    left: -20px;
}

#computer-label {
    top: 30px;
    right: -40px;
}

.score {
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.restart {
    margin-top: 50px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 5px;
    font-family: 'Play', sans-serif;;
}

.red-glow {
    border: 5px solid red;
    box-shadow: 0px 0px 10px rgb(250, 100, 100);
}

.green-glow {
    border: 5px solid rgb(41, 206, 41);
    box-shadow: 0px 0px 10px rgb(172, 243, 67);
}

.gray-glow {
    border: 5px solid rgb(138, 137, 137);
    box-shadow: 0px 0px 10px rgb(219, 219, 219);
}